<ion-view>
<ion-nav-title><span>Follow-up</span></ion-nav-title>
    <ion-tabs tabs-swipable class="tabs-stable">
        <ion-tab title="Reminder" ui-sref="app.followuptab.remindertab">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pending" ui-sref="app.followuptab.pendingtab">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>