<style type="text/css">
.card .item:first-child{
    margin-top: -3%;
}
</style>
<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title><span>Pending Followup</span></ion-nav-title>
  <ion-content>
    <ion-list class="card" ng-repeat="allreminders in fpreminder">
        <ion-item-accordion title={{allreminders.person_name}} icon-align="right" icon-close="ion-chevron-right" icon-open="ion-chevron-down">
	        <p class="fpp">{{allreminders.email | capitalize}}<br>{{allreminders.contact_number | capitalize}}<br>{{allreminders.remarks | capitalize}}</p>
	    </ion-item-accordion>
    </ion-list>
</ion-content>
</ion-view>