<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="signup_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="signupuser.name" required>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="signupuser.email" required>
              </label>
              <label class="item item-input">
                <input type="tel" placeholder="Mobile No" ng-model="signupuser.mobileno" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Password" ng-model="signupuser.passMD5" required show-hide-input>
              </label>
            </div>
            <div class="item item-body bottom-content signupbutt">
              <button type="submit" class="button button-assertive button-block" ng-click="DoSignUp()" ng-disabled="signup_form.$invalid">
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
