<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col">
        <img ng-src="img/search.png" ui-sref="app.searchforms" class="searchimg">
      </div>
    </div>
    <div class="bottom-content" style="margin-top: 56px;">
      <div class="row">
        <a class="col col-40 login button button-block button-stable" ui-sref="auth.login">
          Log In
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="col col-40 sign-up button button-block button-stable" ui-sref="auth.signup">
          Sign Up
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
