<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

   <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="true" class="menu-outer left-menu" style="background-image: url('img/sidemenubg.jpg');">
      <ion-list>
          <ion-item class="heading-item item item-avatar itembg" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
            </pre-img>
          </div>
          <h2 class="greeting">Hi Brynn</h2>
          <p class="message">Welcome back</p>
        </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" ui-sref="app.feeds-categories"> 
            <i class="menu-icon icon ion-person"></i>
            <h2 class="menu-text">Home</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.staff"> 
            <i class="menu-icon icon ion-person-stalker"></i>
            <h2 class="menu-text">Staff List</h2> 
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.searchforms2"> 
            <i class="menu-icon icon ion-playstation"></i>
            <h2 class="menu-text">Add Staff</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.searchforms3"> 
            <i class="menu-icon icon ion-search"></i>
            <h2 class="menu-text">Assign Lead</h2> 
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.lead"> 
            <i class="menu-icon icon ion-person"></i>
            <h2 class="menu-text">Lead</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.searchforms3"> 
            <i class="menu-icon icon ion-eye"></i>
            <h2 class="menu-text">Access Management</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.searchforms3"> 
            <i class="menu-icon icon ion-home"></i>
            <h2 class="menu-text">Property</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.owner">
            <i class="menu-icon icon ion-clipboard"></i>
            <h2 class="menu-text">Owner List</h2> 
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.tenant"> 
            <i class="menu-icon icon ion-clipboard"></i>
            <h2 class="menu-text">Tenant List</h2> 
          </ion-item><hr>
          <ion-item ui-sref-active="active" class="item-icon-left itembg" menu-close ui-sref="app.projectlist"> 
            <i class="menu-icon icon ion-clipboard"></i>
            <h2 class="menu-text">Project List</h2> 
          </ion-item>
      </ion-list>  
      

      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
