<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title><span>Tenant List</span></ion-nav-title>
  <ion-content>
    <div class="list">
     <div class="item" ng-repeat="alltenants in alltenant">
        <p class="projectP1">{{alltenants.person_name | capitalize}}</p>
        <p class="projectP2">{{alltenants.contact_number | capitalize}}</p>
        <i class="icon ion-android-call eyeicon"></i>
     </div>
  </div>
</ion-content>
</ion-view>
