<ion-view>
    <ion-nav-title><span>Add Lead</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>

  <form name="addlead_form" novalidate ng-cloak>
    <div class="list">
      <div><br>

        <label class="item item-input addformele">
          <select class="item-select formselect" ng-model="insertleaddata.lead_type">
              <option value="" selected>I am</option>
              <option value="owner">Owner</option>
              <option value="tenant">tenant</option>
             </select>
        </label><br>

        <label class="item item-input addformele fancyText">
            <input type="text" ng-model="insertleaddata.person_name" placeholder="Visitor Name">
        </label><br>

        <label class="item item-input addformele fancyText">
            <input type="tel" ng-model="insertleaddata.contact_number" placeholder="Mobile No">
        </label><br>

        <label class="item item-input addformele fancyText">
            <input type="tel" ng-model="insertleaddata.landline_no" placeholder="Landline No">
        </label><br>

        <label class="item item-input addformele fancyText">
            <select class="item-select formselect" ng-model="insertleaddata.reference">
              <option selected value="">Select Reference</option>
              <option value="www.justdial.com">www.justdial.com</option>
              <option value="www.makan.com">www.makan.com</option>walk in customer
              <option value="walkincust">walk in customer</option>
             </select>
        </label><br>

        <!-- <label class="item item-input addformele fancyText">
          <span class="input-label">Customer Name</span><br>
            <input type="text" ng-model="insertleaddata.person_name">
        </label> -->

        <label class="item item-input addformele fancyText">
            <textarea ng-model="insertleaddata.remarks" rows="3" placeholder="Remark"></textarea>
        </label><br>

        <label class="item item-input addformele fancyText">
            <textarea ng-model="insertleaddata.folowup_remarks" rows="3" placeholder="Followup Remark"></textarea>
        </label><br>

        <!-- <label class="item item-input addformele fancyText">
            <ionic-datepicker input-obj="datepickerObject">
              <input type="text" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}">
            </ionic-datepicker>
        </label><br> -->

        <label class="item item-input addformele fancyText">
            <ionic-TimePicker input-obj="timepickerobj">
              <input type="text" ng-click="opentime()" value="{{insertleaddata.followuptime}}">
            </ionic-TimePicker>
        </label>

        <button type="reset" class="button button-block follsavebtn" ng-click="InsertLead()">Save</button>
      </div>
    </div>
  </form>

</ion-content>
</ion-view>
