<ion-view>
    <ion-nav-title><span>Edit Lead</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>

  <form name="editlead_form" novalidate ng-cloak>
    <div class="list">
      <div><br>

        <label class="item item-input editformele">
          <select class="item-select formselect" ng-model="editleaddata.lead_type">
            <option value="" selected>I am</option>
            <option value="owner">Owner</option>
            <option value="tenant">tenant</option>
          </select>
        </label><br>

        <label class="item item-input editformele fancyText">
          <input type="text" placeholder="Visitor Name" ng-model="editleaddata.person_name">
        </label><br>

        <label class="item item-input editformele fancyText editformlabel1">
          <input type="tel" placeholder="Mobile No" ng-model="editleaddata.contact_number">
        </label>

        <label class="item item-input editformele fancyText editformlabel2">
          <input type="tel" placeholder="Landline No" ng-model="editleaddata.landline_no">
        </label><br>

        <label class="item item-input editformele fancyText editformlabel1">
          <input type="text" placeholder="Min Rent Budget" ng-model="editleaddata.min_rent">
        </label>

        <label class="item item-input editformele fancyText editformlabel2">
          <input type="text" placeholder="Max Rent Budget" ng-model="editleaddata.max_rent">
        </label><br>

        <label class="item item-input editformele fancyText">
          <input type="text" placeholder="Deposit Budget" ng-model="editleaddata.max_deposit">
        </label><br>

        <label class="item item-input editformele fancyText">
          <ionic-datepicker input-obj="datepickerObject">
            <input type="text" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat | date:'dd/MM/yyyy'}}">
          </ionic-datepicker>
        </label><br>

        <label class="item item-input editformele fancyText">
          <select class="item-select formselect" ng-model="editleaddata.property_type">
            <option selected value="">Property</option>
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
            <option value="PG">PG</option>
           </select>
        </label><br>

        <label class="item item-input editformele fancyText">
          <select class="item-select formselect" ng-model="editleaddata.furnished_type">
            <option selected value="">Furnished Status</option>
            <option value="Furnished">Furnished</option>
            <option value="Unfurnished">Unfurnished</option>
            <option value="SemiFurnished">SemiFurnished</option>
           </select>
        </label><br>

        <label class="item item-input editformele fancyText">
          <select class="item-select formselect" ng-model="editleaddata.location">
            <option selected value="">Location</option>
            <option value="Wakad">Wakad</option>
            <option value="Pune">Pune</option>
            <option value="Nigdi">Nigdi</option>
           </select>
        </label><br>

        <label class="item item-input editformele fancyText">
          <select class="item-select formselect" ng-model="editleaddata.reference">
            <option selected value="">Select Reference</option>
            <option value="www.justdial.com">www.justdial.com</option>
            <option value="www.makan.com">www.makan.com</option>
            <option value="walkincust">walk in customer</option>
           </select>
        </label><br>

        <label class="item item-input editformele fancyText">
          <textarea rows="3" placeholder="Remark" ng-model="editleaddata.remarks"></textarea>
        </label><br>

        <label class="item item-input editformele fancyText">
          <textarea rows="3" placeholder="Followup Remark" ng-model="editleaddata.details"></textarea>
        </label><br>

        <!-- <label class="item item-input editformele fancyText editformlabel">
          <ionic-datepicker input-obj="datepickerObject">
            <input type="text" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}">
          </ionic-datepicker>
        </label> -->

        <!-- <label class="item item-input editformele fancyText editformlabel2">
          <ionic-TimePicker input-obj="timepickerobj">
            <input type="text" ng-click="opentime()" value="{{insertleaddata.followuptime}}">
          </ionic-TimePicker>
        </label> -->

        <button type="reset" class="button button-block follsavebtn" ng-click="EditLead()">Save</button>
      </div>
    </div>
  </form>

</ion-content>
</ion-view>
