<style type="text/css">
table {
    width: 95%;
    margin-left: 3%;
}
th, td {
    padding: 10px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

</style>
<ion-view>
    <ion-nav-title><span>Follow Up</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>

  <form name="followup_form" class="" novalidate ng-cloak>
    <div class="list">
      <div><br>
        <label class="item item-input leadfolllabel fancyText">
          <textarea ng-model="followup.details" rows="3" placeholder="Followup Remark"></textarea>
        </label><br>

        <label class="item item-input leadfolllabel fancyText">
          <ionic-datepicker input-obj="datepickerObject">
              <input type="text" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}">
          </ionic-datepicker>
        </label><br>

        <label class="item item-input leadfolllabel fancyText">
          <ionic-TimePicker input-obj="timepickerobj">
              <input type="text" ng-click="opentime()" value="{{followup.next_followup_time}}">
          </ionic-TimePicker>
        </label><br>
   
        <label class="item item-input leadfolllabel fancyText">
          <select class="item-select formselect" ng-model="followup.status">
              <option selected value="">Select Status</option>
              <option value="pending">Pending</option>
              <option value="close">Close</option>
          </select>
        </label>

        <button type="reset" class="button button-block follsavebtn" ng-click="FollowUp()">Save</button>
      </div>
    </div>
  </form>
<hr><br>
  <table id="t01">
    <tr>
      <th><b>Date</b></th>
      <th><b>Next Followup</b></th> 
      <th><b>Remark</b></th>
    </tr>
    <tr ng-repeat="folldata in alllfollowups" ng-click="showFpRemark()">
      <td>{{folldata.date | date:"dd/MM/yyyy"}}</td>
      <td>{{folldata.next_followup_date | date:"dd/MM/yyyy"}}</td>
      <td>{{folldata.details | limitTo:numLimit}}...</td>
    </tr>
  </table>
</ion-content>
</ion-view>
