<ion-view>
    <ion-nav-title><span>Customer Lead</span></ion-nav-title>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-person-add" ui-sref="app.addleadform"></button>
  </ion-nav-buttons>
<ion-content>
<ion-refresher pulling-text="Pull to refresh..." on-refresh="GetallLeads()"></ion-refresher>
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchText">
    </label>
  </div>
  <div class="list">
    <div class="item" ng-repeat="leaddata in allleads | filter:searchText" on-tap="DetailLead(leaddata)">
      <b>{{leaddata.person_name | capitalize}}</b><br>
      <span class="contactspan"><a href="tel:leaddata.contact_number">{{leaddata.contact_number}}</a></span>
      <span class="leadtypespan" ng-class="leaddata.lead_type == 'owner' ? 'span ownertxtcolor': leaddata.UserId == globals[0].UserId? 'span tenanttxtcolor':'span'">{{leaddata.lead_type}}</span>
    </div>
  </div>
</ion-view>
