<ion-view class="profile-view leaddetails">
    <ion-nav-title><span>Detail Customer Lead</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>
  <div class="card detailleadcard">
      <div class="profile-container">
        <div class="user-background-image-outer leadpropicbg">
          <div multi-bg="['img/bglead.jpg']"></div>
        </div>
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image leadpropic" ng-src="img/user.png"  spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name usernm">{{detailallleadlist.person_name}}</div>
      </div>
      <div class = "row">
         <div class = "col col-20">
          <i class="icon ion-iphone leaddetailicon"></i>
         </div>
         <div class = "col">
           <p class="mobileldetail">MOBILE</p>
           <b><!-- <a href="tel:detailallleadlist.contact_number"> -->{{detailallleadlist.contact_number}}<!-- </a> --></b>
         </div>
      </div>
      <div class = "row">
         <div class = "col col-20">
            <i class="icon ion-email leaddetailicon"></i>
          </div>
         <div class = "col">
           <p class="mobileldetail">Email</p>
           <b>{{detailallleadlist.email}}</b>
         </div>
      </div>
      <div class = "row">
         <div class = "col col-20">
            <i class="icon ion-search leaddetailicon"></i>
          </div>
         <div class= "col">
           <p class="mobileldetail">Reference</p>
           <b>{{detailallleadlist.reference}}</b>
         </div>
      </div>
      <div class="row">
         <div class = "col col-20">
            <i class="icon ion-calendar leaddetailicon"></i>
          </div>
         <div class="col">
           <p class="mobileldetail">Date</p>
           <b>{{detailallleadlist.date | date:"dd/MM/yyyy"}}</b>
         </div>
      </div>
  </div>
  <div class="card">
    <div class = "row">
         <div class = "col col-20">
            <i class="icon ion-compose leaddetailicon"></i>
          </div>
         <div class = "col">
           <p class="mobileldetail">Remark</p>
           <p>{{detailallleadlist.remarks}}</p>
         </div>
      </div>
  </div>
  <div class="card">
    <div class="row">
         <div class = "col col-20">
            <i class="icon ion-home leaddetailicon"></i>
          </div>
         <div class="col">
           <p class="mobileldetail">Property Type</p>
           <p><b>{{detailallleadlist.property_type}}</b></p>
         </div>
    </div>
    <div class="row">
         <div class="col col-20">
            <i class="icon ion-document-text leaddetailicon"></i>
          </div>
         <div class="col">
           <p class="mobileldetail">Property Type Details</p>
           <p><b>{{detailallleadlist.property_type_detail}}</b></p>
         </div>
    </div>
    <div class = "row">
         <div class = "col col-20">
            <i class="icon ion-cash leaddetailicon"></i>
          </div>
         <div class = "col">
           <p class="mobileldetail">Rent</p>
           <p><b>{{detailallleadlist.max-rent}} - {{detailallleadlist.min-rent}}</b></p>
         </div>
    </div>
    <div class = "row">
         <div class = "col col-20">
            <i class="icon ion-card leaddetailicon"></i>
          </div>
         <div class = "col">
           <p class="mobileldetail">Deposite</p>
           <p><b>{{detailallleadlist.max-deposite}} - {{detailallleadlist.min-deposite}}</b></p>
         </div>
    </div>
  </div>
  <button class="button button-calm follbtn" ui-sref="app.followupform({'ID' : detailallleadlist.ID})">
        Follow Up
  </button>
  <button class="button button-calm follbtn" ui-sref="app.editleadform({'ID' : detailallleadlist.ID})">
        Edit Lead
  </button>
</ion-content>
</ion-view>