<ion-view class="profile-view">
    <ion-nav-title><span>Property Details</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>
  <div>
      <img class="full-image" src="img/property/1.jpg">
  </div>
  <div class="">
      <h3 class="propdetailh">{{detailallpropertylist.property_name | capitalize}}</h3>
      <h4 class="propdetailh propdetailh2">{{detailallpropertylist.flat_type}},    {{detailallpropertylist.apartment_facility | capitalize}}</h4>
  </div>
  <div class="item">
      <p class="propdetp"><i class="icon ion-location"></i>&nbsp;&nbsp;{{detailallpropertylist.property_Add}} {{detailallpropertylist.state}}, {{detailallpropertylist.city}}-{{detailallpropertylist.pincode}}</p>
      <h3 class="keyrdth3">Property Listed {{detailallpropertylist.keyrdate}}</h3>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Property Type:</div>
      <div class = "col propdetinfo">{{detailallpropertylist.property_type | capitalize}}</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Commertial Property:</div>
      <div class = "col propdetinfo" ng-if="detailallpropertylist.commercial_property">{{detailallpropertylist.commercial_property | capitalize}}</div>
      <div class = "col propdetinfo" ng-if="!detailallpropertylist.commercial_property">-</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">PG Category:</div>
      <div class = "col propdetinfo" ng-if="detailallpropertylist.pg_category_type">{{detailallpropertylist.pg_category_type | capitalize}}</div>
      <div class = "col propdetinfo" ng-if="!detailallpropertylist.pg_category_type">-</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Building Name:</div>
      <div class = "col propdetinfo">{{detailallpropertylist.building_name | capitalize}}</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Amenities:</div>
      <div class = "col propdetinfo">{{detailallpropertylist.society_amenities | capitalize}}</div>
  </div>
</ion-content>
</ion-view>