<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Property</span>
  </ion-nav-title>
  <ion-content>
    <div class="card list" ng-repeat="allpro in allproperty" on-tap="DetailProperty(allpro)">
      <a class="item item-thumbnail-left">
        <img src="img/property/1.jpg" src="{{allpro.property_photo}}" ng-if="!allpro.property_photo">
        <img src="img/property/1.jpg" src="{{allpro.property_photo}}" ng-if="allpro.property_photo">
        <h2>{{allpro.building_name | capitalize}}</h2>
        <p>{{allpro.property_Add | capitalize}}</p>
        <p>{{allpro.flat_type}}</p>
        <p>{{allpro.property_type | capitalize}}</p>
        <i class="icon ion-android-call callicon"></i>
      </a>
    </div>
</ion-content>
</ion-view>
