<ion-view>
    <ion-nav-title><span>About Us</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>
    <div class="screen">
      <img src="img/aboutus/about.jpg" class="homeimg"/>
      <div class="item item-text-wrap">
        <h1>About Us</h1>
        <h2>We Are More Then Just Management.</h2>
      </div>
    </div><br>
    <div>
        <p class="aboutuspara">
            Although we manage properties, our business is people. We work hard to create great places for people to live, work, play and stay and take pride in the long-term relationships we have with our residents and team members.Our residents, guests and tenants enjoy world-class customer service, and our team members understand the unique commitment we have to them, and their careers. The objective of our company is to provide professional, reliable and transparent services with the help of modernize technology for your property management.
        </p>
    </div>

</ion-content>
</ion-view>