<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Contact Us</span>
  </ion-nav-title>
  <ion-content>
    <div class="screen">
      <img src="img/contactus/contact.jpg" class="homeimg" />
      <div class="item item-text-wrap">
        <h1>Contact Us</h1>
          <h2>For More Details Please Contact Us</h2>
      </div>
    </div><br>

    <div class="intro">
      <address><b>Address:</b> 
         6th Floor Tuljabhawani Plaza,
        Thergaon Pune, Maharashtra
        411033 India.
      </address>
      <p><b>Email Us:</b> support@propadmin.in</p>
      <p><b>Call Us:</b> 020-65111900</p>
    </div><br>

    <h4 class="h4contact">Address On Map</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.0703829136596!2d73.7635091141411!3d18.61590378735356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b99e76a4480d%3A0x9225b906a2071ea7!2sDange+Chowk+Bus+Stop!5e0!3m2!1sen!2sin!4v1482306346479" width="374" height="250" frameborder="0" style="border:0" allowfullscreen></iframe><br>

    <h4 class="h4contact">Send Massage</h4>
    <div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Your Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Your Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Details</span>
        <input type="text" placeholder="Enter Your Message">
      </label>
    </div><br>
    <button class="button button-block button-calm">Send</button>
    

</ion-content>
</ion-view>
