<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Dashboard</span>
  </ion-nav-title>
  <ion-content>
    <div class="screen">
      <img src="img/screen.jpg" class="homeimg" />
      <div class="item item-text-wrap">
        <h1>PropAdmin</h1>
          <h2>Property app</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="card card1">
          <i class="ion-information-circled infoicon" ui-sref="app.lead"></i><br>
          <p class="dashheading">Lead</p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card1">
           <i class="icon ion-android-hand responsibilityicon" ui-sref="app.followuptab"></i><br>
           <p class="dashheading responsibilitytxt">Follow Up</p>
        </div>
      </div>
    </div>
    <div class="row dashboardrow">
      <div class="col-4">
        <div class="card card1">
          <i class="icon ion-person-stalker stafficon"></i><br>
          <p class="dashheading gallerytxt">Staff</p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card1">
           <i class="icon ion-calendar functionicon" ui-sref="app.propertylist"></i><br>
           <p class="dashheading functiontxt">Property</p>
        </div>
      </div>
    </div>
    <div class="row dashboardrow">
      <div class="col-4">
        <div class="card card1">
          <i class="icon ion-eye aimicon"></i><br>
          <p class="dashheading aimtxt">&nbsp;&nbsp;&nbsp;Access Management</p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card1">
           <i class="icon ion-document-text newsicon"></i><br>
           <p class="dashheading newstxt">Owner List</p>
        </div>
      </div>
    </div>
    <div class="row dashboardrow">
      <div class="col-4">
        <div class="card card1">
          <i class="icon ion-ios-telephone contacticon" ui-sref="app.aboutus"></i><br>
          <p class="dashheading contacttxt">About Us</p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card1">
           <i class="ion-information-circled infoicon" ui-sref="app.contact"></i><br>
           <p class="dashheading infotxt">Contact Us</p>
        </div>
      </div>
    </div>
   </ion-content>
</ion-view>
