<ion-view class="profile-view">
    <ion-nav-title><span>Project Details</span></ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>
<ion-content>
  <div>
      <img class="full-image" src="img/screen1.jpg">
  </div>
  <div class="">
      <h3 class="propdetailh">{{detailallprojectlist.project_name | capitalize}}</h3>
  </div>
  <div class="item">
      <p class="propdetp"><i class="icon ion-location"></i>&nbsp;&nbsp;{{detailallprojectlist.project_add}} {{detailallprojectlist.state}}, {{detailallprojectlist.city}}-{{detailallprojectlist.pin_code}}</p>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Property Type:</div>
      <div class="col propdetinfo">{{detailallprojectlist.property_type | capitalize}}</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Residential Type:</div>
      <div class="col propdetinfo">{{detailallprojectlist.residential_property | capitalize}}</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Commertial Property:</div>
      <div class="col propdetinfo" ng-if="detailallprojectlist.commercial_property">{{detailallprojectlist.commercial_property | capitalize}}</div>
      <div class = "col propdetinfo" ng-if="!detailallprojectlist.commercial_property">-</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">PG Type:</div>
      <div class="col propdetinfo" ng-if="detailallprojectlist.pg_type">{{detailallprojectlist.pg_type | capitalize}}</div>
      <div class="col propdetinfo" ng-if="!detailallprojectlist.pg_type">-</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Phases:</div>
      <div class="col propdetinfo">{{detailallprojectlist.Phases | capitalize}}</div>
  </div>
  <div class="row propdetdiv">
      <div class="col propdetheding">Amenities:</div>
      <div class="col propdetinfo">{{detailallprojectlist.society_amenities | capitalize}}</div>
  </div>
</ion-content>
</ion-view>