<ion-view class="proplistbg">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title><span>Project List</span></ion-nav-title>
  <ion-content>
    <div class="card list" ng-repeat="allprojects in allproject" on-tap="DetailProject(allprojects)">
      <a class="item item-avatar-left">
        <img src="img/blue.jpg">
        <p class="ProjenmLimit">{{allprojects.project_name | capitalize | limitTo:ProjenmLimit}}</p>
        <p class="projectP1">{{allprojects.project_name | capitalize}}</p>
        <p class="projectP2">{{allprojects.project_add | capitalize}}</p>
        <i class="icon ion-android-call eyeicon"></i>
      </a>
    </div>
</ion-content>
</ion-view>
