<style type="text/css">
  .checkbox input{
    position: relative;
    width: 36px;
    height: 0px;
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer;
     }
</style>
<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Search</span>
  </ion-nav-title>
  <ion-content class="buytab">
    <ul class="list">

      <div class="item item-divider">Search Your Location</div>
      <input type="text" class="searchtxt" placeholder="Type Location">

      <div class="item item-divider">Property type</div>
      <label class="checkbox propertychkbx">
        <i class="icon ion-stats-bars searchicons"></i><br>Shop
        <input type="checkbox">
      </label>
      <label class="checkbox">
        <i class="icon ion-home searchicons"></i><br>House
        <input type="checkbox">
      </label>
      <label class="checkbox">
        <i class="icon ion-planet searchicons"></i><br>Land
        <input type="checkbox">
      </label>

      <div class="item item-divider">Price Range</div>
      <div class="item range range-calm">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div><br>

      <button class="button button-block button-calm" ui-sref="app.propertylist">
        Search
      </button>
    </ul>
  </ion-content>
</ion-view>
