<ion-view cache-view="false">
    <ion-nav-title>
        	<span>Residential Search</span>
    </ion-nav-title>
    <ion-tabs tabs-swipable class="tabs-stable">
        <ion-tab title="BUY" ui-sref="app.searchforms.buytab">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="RENT" ui-sref="app.searchforms.renttab">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

