<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title><span>Staff List</span></ion-nav-title>
  <ion-content>
    <div class="list">
	   <div class="item" ng-repeat="allstaffs in allstaff">
		   	<p class="projectP1">{{allstaffs.name | capitalize}}</p>
	        <p class="projectP2">{{allstaffs.email | capitalize}}</p>
	        <i class="icon ion-android-call eyeicon"></i>
	   </div>
	</div>
</ion-content>
</ion-view>
