.screen {
    position: relative;
}    
.screen img {
    display: inherit;
}
.homeimg {
    max-width: 100%;
    height: auto;
}
.screen .item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    background: rgba(255,255,255, 0.6);
}
.searchimg{
	width: 95%;
    margin-left: 3%;
    margin-top: 25%;
    height: 8%;
}
.searchtxt{
	width: 82%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}
.tab-title{
	color: white;
}
.buytab{
	background-color: white;
}
.searchicons:before {
    font-size: 40px;
}
.intro{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.h4contact{
    margin-left: 3%;
    color: #22539b;
}
.contactbutton{
    margin-left: 42%;
}
.aboutuspara{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;  
}
.signupbutt{
    margin-top: -4%;
}
.propertychkbx{
    margin-left: 25%;    
    margin-bottom: 8px;
}
.callicon:before {
    color: #4CAF50;
    float: right;
    margin-top: -11%;
    font-size: 25px;
}
/*display lead*/
.leadtypespan{
    float: right;
}
.contactspan{
    color: #9E9E9E;
    font-size: smaller;
}
.ownertxtcolor {
    color: #2196F3;
}
.tenanttxtcolor {
    color: #009688;
}
.leadpropic{
    margin-left: 60%;
    border-top: 1px solid #444444!important;
    padding: 8px !important;
    background-color: rgba(34, 83, 155, 0.59) !important;
    width: 80% !important;
    border-radius: 50% !important;
}
.leadpropicbg {
    width: 95%!important;
    left: 3%!important;
}
.mobileldetail{
    font-size: smaller;
    color: grey;
    margin-bottom: 0%;
}
.leaddetailicon:before {
    font-size: x-large;
    margin-left: 37%;
    margin-top: 17%;
    color: #3F51B5;
}
.usernm{
    margin-top: -6%;
}
.detailleadcard{
    border-radius: 5px;
}
.leaddetails {
    background-color: rgba(158, 158, 158, 0.14) !important;
}
.follbtn{
    width: 40%;
    margin-left: 5%;
}
.follformdiv{
    margin-left: 6%;
}
.follelements{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    background-color: rgba(224, 224, 224, 0.43);
}
.follsavebtn{
    width: 90%!important;
    margin-top: 25px!important;
    background-color: #0a9dc7;
    margin-left: 5%;
    color: white;
}
.leadfolllabel{
    width: 88%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.13);
}
.folldtm{
    width: 90%;
    border-radius: 12px;   
}
.remarktxt{
    border-radius: 5px !important;
    width: 54%!important;
    border-style: none;
    background-color: #eaeaea !important;
    margin-left: 1px;
    padding-left: 13px;
    padding-top: 10px;
}
.statusdrp{
    width: 196px!important;
    height: 40px;padding-left: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #eaeaea;
    margin-left: 0px;
}
.timetxt{
    border-radius:5px!important;
    height:40px!important;
    background-color:#eaeaea!important;
    margin-left: 15px!important;
    padding-left:18px!important;
    font-size: 12px!important;
}
.datetxt{
    border-radius:5px!important;
    height:40px!important;
    background-color:#eaeaea!important;
    margin-left: 15px!important;
    width: 193px!important;
    border-style: none!important;
    padding-right:105px!important;
}
.card1{
  width: 160px;
  height: 140px;
  margin: 10px;
}
.infoicon:before {
    content: "\f149";
    font-size: 45px;
    margin-left: 38%;
    margin-top: 18%;
    color: #22539b;
}
.responsibilityicon:before {
    content: "\f2e3";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.stafficon:before {
    content: "\f212";
    font-size: 45px;
    margin-left: 38%;
    margin-top: 18%;
    color: #22539b;
}    
.functionicon:before {
    content: "\f117";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.aimicon:before {
    content: "\f133";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}    
.newsicon:before {
    content: "\f12e";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.joinusicon:before {
    content: "\f211";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.searchicon:before {
    content: "\f21f";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.contacticon:before {
    content: "\f4b9";
    font-size: 45px;
    margin-left: 40%;
    margin-top: 18%;
    color: #22539b;
}
.functiontxt{
    margin-left: 36%;
}
.responsibilitytxt {
    margin-left: 33%!important;
}
.gallerytxt{
    margin-left: 43%;
}
.aimtxt{
    margin-left: 32%!important;
}
.newstxt{
    margin-left: 29%!important;
}
.joinustxt{
    margin-left: 32%;
}
.searchtxt{
    margin-left: 24%;
}
.contacttxt{
    margin-left: 34%!important;
}
.infotxt{
    margin-left: 30%!important;
}
.galleryrow{
    margin-bottom: -28px;
}
.dashheading{
    margin-left: 40%;
    color: #22539b;
}
.screen {
    position: relative;
}
.screen img {
    display: inherit;
}
.homeimg {
    max-width: 100%;
    height: auto;
}
.screen .item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    background: rgba(255,255,255, 0.6);
}
.addformele{
    width: 88%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.13);
}
.formselect{
    width: 95%;
    height: 34px;
    border: none;
}
.fancyText:hover{
    border:1px solid #0a9dc7;
    box-shadow: 0 0 10px #719ECE;
}
.editformele{
    width: 88%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.13);
}
.editformlabel1{
    width:42%!important;
}
.editformlabel2{
    margin-top:-13%;
    margin-left:51%;
    width:42%!important;
}
.propdetailh{
    margin-left: 5%;
    margin-top: 2%;
}
.propdetailh2{
    color: #444;
    font-family: sans-serif;
}
.keyrdth3{
    color: #aaaaaa;
    font-family: cursive;
    padding-top: 2%;
}
.propdetheding{
    color: #b2b2b2;
    padding: 3%;
}
.propdetdiv{
    background-color: #ffffff;
}
.propdetinfo{
    padding: 3%;
    color: #111;
    font-weight: 600;
}
.propdetp{
    color: black!important;
    font-weight: 600;
    white-space: normal!important;
}
.projectP1 {
    color: #477ad2;
    font-weight: 600;
    font-size: larger;
}
.eyeicon:before {
    content: "\f133";
    color: #11c1f3;
    float: right;
    margin-top: -13%;
    font-size: 25px;
    margin-right: 11px;
}
.ProjenmLimit {
    color: white!important;
    position: absolute;
    margin-left: -12%;
    margin-top: 3%;
    font-weight: 800;
    font-size: 20px!important;
}
.proplistbg{
      background-color: #f5f7fa;
  }
.item-icon-right .icon {
    right: 11px;
    font-size: 18px;
    color: #22539b;
}
.fpp{
    color: #22539b!important;
    font-family: inherit!important;
}
